version: '3.8'

services:
  app:
    build:
      context: ./server
      dockerfile: Dockerfile
    restart: always
    environment:
      - PORT=3000
      - SQLITE_URL=file:/app/prisma/dev.db
      - MISTRAL_API_KEY=${MISTRAL_API_KEY}
      - TRANSLATION_URL=https://translate.techsentinel.fr/translate
    volumes:
      - news-data:/app/prisma
    networks:
      - news-network

networks:
  news-network:
    driver: bridge

volumes:
  news-data:
