SQLITE_URL="file:./dev.db"
GROQ_API_KEY=""
MISTRAL_API_KEY=""
OPENROUTER_API_KEY=""
TRANSLATION_URL="https://translate.techsentinel.fr/translate"
ENABLE_IMAGE_RECOVERY_FETCH="true"
SOURCE_FAILURE_COOLDOWN_MINUTES="60"
SOURCE_DISABLE_AFTER_CONSECUTIVE_FAILURES="12"
